/.idea/
contracts/artifacts
contracts/.prettierrc_1.json
contracts/.prettierrc_2.json
contracts/.prettierrc.json
contracts/remix.config_1.json
contracts/remix.config_2.json
contracts/remix.config.json
mesh-config (1).json
vendor-console-analysis.md
node_modules
mesh-config.json
